body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ece7f5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ada0c3;
  height: 100vh;
  border-top: 2.5px solid #012745 !important;
}

.login-form {
  width: 400px;
  padding: 30px;
  padding-right: 45px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2.5px solid #012745;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form form label {
  display: block;
  margin-bottom: 5px;
}

.login-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form form button {
  width: 100%;
  padding: 10px;
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form form button:hover {
  background-color: #005f88;
}

.forgot-password {
  margin-top: 10px;
  text-align: right;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #0077b5;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* nav bar */
nav {
  background-color: #fffefe;
  color: #cecaca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

img {
  height: 100px;
  width: 100px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  color: #090303;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}