/* Sidebar.css */

.sidebar {
    width: 100%;
    background-color: #ffffff;
    border-top: 2.5px solid #012745;
    border-bottom: 2.5px solid #012745;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .sidebar ul li {
    padding: 3px;
  }
  
  .sidebar ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  