/* ViewProfile.css */

/* Main container */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

/* Profile data container */
.profile-data {
    width: 100%; /* Make the profile data container 100% width */
}

/* Profile table */
.profile-data table {
    width: 75%; /* Make the table 100% width */
    border-collapse: collapse;
    margin: 0 auto;
}

/* Profile table cells */
.profile-data td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Profile table headings */
.profile-data th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: bold;
}

/* Profile table row */
.profile-data tr:last-child td {
    border-bottom: none;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .profile-data {
        padding: 10px;
    }

    .profile-data td,
    .profile-data th {
        padding: 6px;
    }
}

/* Additional styles as needed */

button {
    background-color: #874caf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
